extends layout

block content
	.about_page
		section.about_content
			h1.about_content_title პროექტის შესახებ
			.about_info
				p წიგნი ეხება თანამედროვე ქართული ლიტერატურის საკითხებს მეოცე საუკუნის პირველი ნახევრიდან, საბჭოური კულტურული პოლიტიკის დამკვიდრებიდან დღემდე. შესაბამისად, განხილულია ის კულტურულ-ესთეტიკური პრობლემები, რასაც ქართული ლიტერატურა აწყდება ცვალებადი 
				p პოლიტიკური, იდეოლოგიური გარემოს პირობებში. ასევე, ნაჩვენებია, თუ როგორ ახდენს მწერლობა ამ პრობლემებზე რეაგირებას. წიგნის პირველ თავში საუბარია 

		.about_img
			img(src="assets/images/aboutImg.png" alt="about")