extends layout

block content 
	.articles_page
		section.articles_item
			article.articles_content
				h1.articles_item_title სტატიის სათაური
				p.articles_item_text წიგნი ეხება თანამედროვე ქართული ლიტერატურის საკითხებს მეოცე საუკუნის პირველი ნახევრიდან, საბჭოური კულტურული პოლიტიკის დამკვიდრებიდან დღემდე. შესაბამისად, განხილულია ის კულტურულ-ესთეტიკური პრობლემები, რასაც ქართული ლიტერატურა აწყდება ცვალებადი პოლიტიკური, იდეოლოგიური გარემოს პირობებში. ასევე, ნაჩვენებია, თუ როგორ ახდენს მწერლობა ამ პრობლემებზე რეაგირებას. წიგნის პირველ თავში საუბარია 
				a(href="articleinfo.html" class="more") ვრცლად
			.articles_item_img 
				img(src="assets/images/articleImg.png" alt="about")