extends layout

block content
	.articles_page
		div.articles_content
			div.articles_item
				article.articles_detail
					h1.articles_item_title სტატიის სათაური
					span.author ავტ: გივი დაუთაშვილი
					p წიგნი ეხება თანამედროვე ქართული ლიტერატურის საკითხებს მეოცე საუკუნის პირველი ნახევრიდან, საბჭოური კულტურული პოლიტიკის დამკვიდრებიდან დღემდე. შესაბამისად, განხილულია ის კულტურულ-ესთეტიკური პრობლემები, რასაც ქართული ლიტერატურა აწყდება ცვალებადი პოლიტიკური, იდეოლოგიური გარემოს პირობებში. ასევე, ნაჩვენებია, თუ როგორ ახდენს მწერლობა ამ პრობლემებზე რეაგირებას. წიგნის პირველ თავში საუბარია წიგნი ეხება თანამედროვე ქართული ლიტერატურის საკითხებს მეოცე საუკუნის პირველი ნახევრიდან, საბჭოური კულტურული პოლიტიკის დამკვიდრებიდან დღემდე. შესაბამისად, ასევე, ნაჩვენებია, თუ როგორ ახდენს მწერლობა ამას ლიტერატურის საკითხებს მეოცე საუკუნის პირველი.
				.articles_item_img 
					img(src="assets/images/aboutImg.png" alt="about")
			p წიგნი ეხება თანამედროვე ქართული ლიტერატურის საკითხებს მეოცე საუკუნის პირველი ნახევრიდან, საბჭოური კულტურული პოლიტიკის ამბავში და დამკვიდრებიდან დღემდე. შესაბამისად, განხილულია ის კულტურულ-ესთეტიკური პრობლემები, რასაც ქართული ლიტერატურა აწყდება ცვალებადი პოლიტიკური, იდეოლოგიური გარემოს პირობებში. ასევე, ნაჩვენებია, თუ როგორ ახდენს მწერლობა ამ პრობლემებზე რეაგირებას. წიგნის პირველ თავში საუბარია წიგნი ეხება თანამედროვე ქართული ლიტერატურის საკითხებს მეოცე საუკუნის პირველი ნახევრიდან, საბჭოური კულტურული დიპოლიტიკის დამკვიდრებიდან დღემდე. შესაბამისად, 
			
