<!DOCTYPE html>
html(lang="ka")
    head
        meta(charset='utf-8')
        meta(name='description', content='კვლევითი ვებ გვერდი')
        meta(name='keywords', content='დასახლებული პუნქტი, სტატიები, პირები')
        meta(name='author', content='ქეთი ხეცურიანი')
        meta(property='og:title', content='გურჯაანის ვილაიეტი')
        meta(property='og:description', content='ინფორმაციის გურჯაანის ვილაიეტზე')
        meta(property='og:type', content='website')
        meta(property='og:url', content='')
        meta(property='og:image', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="assets/css/style.css")
        title Document
    body
        .page
            aside.left_side
                a(href="index.html" class="logo")
                    img(src="assets/images/static/logo.png" alt="logo")
                ul.aside_navigation
                    li.aside_navigation_item
                        a(href="#!")
                            h1.aside_navigation_item_title პირი
                        <span class="icon-user aside_icon"></span>
                        span.count 247
                    li.aside_navigation_item
                        a(href="#!")
                            h1.aside_navigation_item_title დასახლებული პუნქტი
                        <span class="icon-location aside_icon"></span>
                        span.count 48
                    li.aside_navigation_item
                        a(href="#!")
                            h1.aside_navigation_item_title გადასახადის ტიპი
                        <span class="icon-hand aside_icon"></span>
                        span.count 12
                    li.aside_navigation_item
                        a(href="#!")
                            h1.aside_navigation_item_title წყარო
                        <span class="icon-scroll aside_icon"></span>
                        span.count 7 
            .container
                block variables
                .right_side(class="bgImage ? 'background' : ' '" style="background-image: url('assets/images/mainImg.png')")
                    header
                        nav#menu
                            ul.header_navigation
                                li
                                    a(href="index.html" class="header_navigation_link") მთავარი
                                li
                                    a(href="#!" class="header_navigation_link") ფილტრი
                                li
                                    a(href="articles.html" class="header_navigation_link") სტატიები
                                li
                                    a(href="about.html" class="header_navigation_link") ჩვენ შესახებ
                                li
                                    a(href="#!" class="header_navigation_link") კონტაქტი
                        span.resp_menu

                    //content 
                    block content