@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.ttf');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
}

.icon-search:before {
  content: "\e900";
  color: #757575;
}
.icon-scroll:before {
  content: "\e901";
  color: #fff;
}
.icon-hand:before {
  content: "\e902";
  color: #ffe9e9;
}
.icon-location:before {
  content: "\e903";
  color: #fff;
}
.icon-user:before {
  content: "\e904";
  color: #fff;
}
.aside_icon {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}