.articles_content {
	display: grid;
	grid-gap: $paddingSize;
}
.author {
	font-size: 18px;
	padding-bottom: $paddingSize;
}
.articles_detail {
	padding: $paddingSize;
}
.articles_detail p {
	padding-top: $paddingSize; 
}