.articles_page {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    // grid-gap: 100px 0;
}
.articles_item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 30px 0;
}
.articles_item_title {
	font-size: 30px;
	color: $color_black;	
	padding-bottom: 30px;
}
.articles_item_text {
	max-width: 365px;
	height: 175px;
	overflow: hidden;
	margin-bottom: 50px;
	font-size: $text_size;
}
.more {
 	max-width: 150px;
    text-align: center;
	padding: 20px;
	color: $color_white;
	font-size: $text_size;
	background-color: #DF4B4B;
}