.contact_info {
    padding: 0 30px;
}
.social_icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.contact_footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.contact_footer {
    position: relative;
}
a {
    color: #000;
}