.right_side {
	background-size: cover;
}
.main_img {
	width: 100%;
	position: absolute;
	top: 0;
}

a:hover {
	cursor: pointer;
}
.color .header_navigation_link{
	color: #fff;
}
main {
	position: relative;
}