.personAbout {
    margin-bottom: $paddingSize;
}
.personName {
    border-bottom: 1px solid $hoverColor;
}
.personAdditionalnfo {
    margin-bottom: 30px;
}
.personAdditionalnfoType {
    font-weight: 600;
}