.alphabet {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
// search_content
.search_content_list.show {
    display: block;
}
.more_list {
    color: red;
}

.personData {
    display: none;
}