.sourse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px;
}
.sourseFilterForm {
    width: 280px;
    margin: 35px auto;
}
.filters {
    @include flexSpaceBetween;
    color: $colorWhite;
}
.sourseFilterType {
    width: 1$distance;
    text-align: center;
    color: $colorWhite;
    font-size: 12px;
    padding: 15px 0;
    border: 1px solid $colorWhite;;
}
.sourseFilterType.active {
    background-color: $hoverColor;
    border: none;
}
.sourseFilterParametrs {
    display: none;
    flex-direction: column;
    margin: 40px 0;
}
.sourseFilterParametrsItem {
    margin: 30px 0;
    -webkit-appearance: none;
    color: $colorWhite;
    font-size: 12px;
    background: none;
    border: none;
    border-bottom: 0.7px solid #8E8E8E;
    border-radius: unset;
    padding-bottom: 10px;;
}
select:focus {
    outline: none;
}
.sourseSearch {
    width: 100%;
    color: $colorWhite;
    font-size: 14px;
    border: none;
    padding: $distance;
    background-color: $hoverColor;
}
.sourseFilterParametrs.active{
    display: flex;
}
