//header
header {
	//@include vertical;
	@extend %vertical;
	height: 100px;
	width: 80%;
	margin: 0 auto;
}
.header_navigation_link {
	color: $color_black;
	font-size: $text_size;
}
.header_navigation_link:hover {
	border-bottom: 1px solid $hover_color;
	padding-bottom: 10px;
}