.left_side {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 20px;
  background-color: #2e2821; }

.aside_navigation {
  display: -ms-grid;
  display: grid; }

.aside_navigation_item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff; }

.aside_navigation_item_title {
  font-size: 16px;
  color: #FF0000; }

.count {
  text-align: center; }
