.about_page {
	padding-bottom: 30px;
}
.about_content {
	display: grid;
	grid-template-rows: .5fr 3fr;
	margin: 0 20px;
}
.about_content_title {
	font-size: $title_size;
}
.about_img img {
	width: 100%;
	object-fit: cover;
}