.articles_item {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.articles_item_title {
	font-size: 30px;
	color: $color_black;	
	padding-bottom: 30px;
}
.articles_item_text {
	width: 365px;
	height: 175px;
	overflow: hidden;
	margin-bottom: 50px;
	font-size: $text_size;
}
.more {
	padding: 20px;
	color: $color_white;
	font-size: $text_size;
	background-color: #DF4B4B;
}