@media only screen and (min-width: 992px) {
  .logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px; }
  header {
    height: 100px; }
  .resp_menu {
    display: none; }
  .header_menu {
    display: block; }
  .color .header_navigation_link {
    color: color-white; }
  .page {
    display: grid;
    grid-template-columns: 1fr 3fr; }
  .left_side {
    width: 30%;
    height: fullHeight;
    position: fixed;
    top: 0;
    bottom: 0; }
  .right_side {
    height: fullHeight;
    position: absolute;
    left: 30%;
    right: 0; }
  /*about page*/
  .about_page {
    grid-template-columns: 1fr 1fr; }
  .email {
    padding-bottom: paddingSize;
    text-align: left; }
  .social_icons {
    position: static;
    text-align: left; } }
