@media only screen and (min-width: 320px){
	.page {
		display: grid;
	}
	
	.resp_menu {
		position: absolute;
		right: 10px;
	}
	/*about page*/
	.about_page {
		width: 90%;
	    display: grid;
	    grid-gap: 30px;
	    margin: 20px auto;
	}
	// article page
	.articles_item {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px 0;
		margin: 10px;
	}
	.articles_content {
		align-items: center;
		justify-content: center;
	}
	.articles_item_img img {
		width: 100%;
	}
}
@media only screen and (min-width: 720px){
	.aside_navigation {
		display: grid;
	}
	.resp_menu {
		display: none;
	}
	.header_navigation {
		display: flex;
		justify-content: space-around;
		position: relative;
		z-index: 1;
	}
	// article page
	.articles_item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px 0;
	}
	// .articles_content {
	// 	align-items: center;
	// 	justify-content: center;
	// }
	// .articles_item_title, .more {
	// 	margin: 0 auto;
	// }
	// .articles_item_text {
	// 	margin: 0;
	// 	text-align: center;
	// }
	// .articles_item_img img {
	// 	width: 100%;
	// }
}
@media only screen and (max-width: 991px){
	
	.header_navigation {
		display: none;
	}
	.aside_navigation {
		display: none;
	}
	.about_img {
		order: 1;
	}
	.about_content {
		order: 2;
	}
}
@media only screen and (min-width: 992px) {
	.page {
		grid-template-columns: 1fr 3fr;
	}
	/*about page*/
	.about_page {
	    grid-template-columns: 1fr 1fr;
	}
}
